PORT=3001
NODE_ENV=development
DATABASE_URL=postgresql://zokul:zokul@localhost:5432/zokul
JWT_SECRET=change-this-to-a-random-secret
CORS_ORIGIN=http://localhost:5173
REDIS_URL=redis://localhost:6379
VAPID_PUBLIC_KEY=BA8jpTeZD84g2Ba73tE4lFRurLccxaPuePLZeF5BlRKIk7FmnHQXWiLdnCmvVwz2zzculinsNeLgR-ltElGx44c
VAPID_PRIVATE_KEY=7AeddO7Bv_-5xUjO5wYNX2vF7CWFzw5sWMI4iUQ5AoE
